@model List<Client>

@{
	ViewData["Title"] = "Home Page";
}

<h1>Popis klijenata</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_ClientFilter" model="new ClientFilterModel()" />
</div>

<table style="margin-top: 20px;" class="table table-condensed" id="clientTable">
	<thead>
		<tr>
			<th>Client</th>
			<th>Address</th>
			<th>Email</th>
			<th>City</th>
			<th>  </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.ID">@item.FullName</a>
				</td>
				<td>@item.Address</td>
				<td>@item.Email</td>
				<td>@item.City?.Name</td>
				<th><button class="btn btn-primary"><a asp-action="Edit" asp-route-id="@item.ID" style="text-decoration: none; color:white">Edit</a></button></th>
			</tr>
		}
	</tbody>
</table>

@section scripts {
	<script>
		$(document).ready(function () {
			// Set opacity to 0.5 for the whole table initially
			$('#clientTable').css('opacity', '0.5');

			// Handle hover events on table rows
			$("tr").hover(
				function () {
					// When mouse enters, set opacity to 1
					$(this).css('opacity', '1');
				},
				function () {
					// When mouse leaves, reset opacity to 0.5
					$(this).css('opacity', '0.5');
				}
			);

			$("#clientTable td").click(function () {
				// Toggle bold font weight for clicked cell
				$(this).toggleClass('bold-text');

				// Toggle bold font weight for entire row
				$(this).closest('tr').toggleClass('bold-text');
			});
		});
	</script>
	<style>
		.bold-text{
			font-weight:bold;
		}
	</style>
}